<!--Berkovics Gellért-->

<body>
    <div class="container">
        <div class="row col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h1>Regisztrálj</h1>
                </div>
                <div class="pb panel-body">
                    <form method="POST">
                        <div class="form-group">
                            <label for="Keresztnev">Keresztnév</label><br>
                            <input type="text" class="form-control" id="Keresztnev" name="Keresztnev" required/>
                        </div>
                        <div class="form-group">
                            <label for="Vezeteknev">Vezetéknév</label><br>
                            <input type="text" class="form-control" id="Vezeteknev" name="Vezeteknev" required/>
                        </div>
                        <div class="form-group">
                            <label for="email">Neme</label>
                            <input type="text" class="form-control" name="neme" id="neme" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label><br>
                            <input type="text" class="form-control" id="email" name="email" required/>
                        </div>
                        <div class="form-group">
                            <label for="password">Jelszó</label><br>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <input type="submit" class="btn btn-primary"/>
                    </form>
                </div>
                <div class="pf panel-footer">
                    <p>
                        Már van fiókja? 
                        <a href="/belepes">
                            Bejelentkezés itt
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>