<router-outlet>
    <div id="header">
        <nav class="navbar">
            <div class="logo">
                <p><span class="close-btn material-symbols-rounded">Hear</span></p>
            </div>
            <ul class="links">
                <li><a href="/home">Home</a></li>
                <li><a href="/szabaly">Szabályok</a></li>
                <li><a href="/vizsgalat">Vizsgálat</a></li>
                <li><a href="/belepes">bejelentekezi</a></li>
            </ul>
        </nav>
    </div>
</router-outlet>