<!--Berkovics Gellért-->

<body>
    <script src="../../assets/js/vizsgalatok.js" defer>
        function startRed() {
            if (0<=r && r<20000) {
                if (0<=r && r<8000) {
                    r++;
                    document.getElementById("redValue").innerHTML = "Kicsi hallom";
                }
                if (4000<=r && r<15000) {
                    r++;
                    document.getElementById("redValue").innerHTML = "Közepes hallom";
                }
                if (7000<=r && r<20000) {
                    r++;
                    document.getElementById("redValue").innerHTML = "Nagyon hallom";
                }
                r++;
                document.getElementById("rangeChechedRed").value = r;
                document.getElementById("rangeRedValue").innerHTML = r + " Hz";
            }
        }
        
        function startBlue() {
            if (0<=b && b<20000) {
                if (0<=b && b<4000) {
                    b++;
                    document.getElementById("blueValue").innerHTML = "Kicsi hallom";
                }
                if (4000<=b && b<7000) {
                    b++;
                    document.getElementById("blueValue").innerHTML = "Közepes hallom";
                }
                if (7000<=b && b<20000) {
                    b++;
                    document.getElementById("blueValue").innerHTML = "Nagyon hallom";
                }
                b++;
                document.getElementById("rangeChechedBlue").value = b;
                document.getElementById("rangeBlueValue").innerHTML = b + " Hz";
            }
        }
        
        //Button and RadioButton
        
        var blue = document.getElementById("rightcolor");
        var red = document.getElementById("leftcolor");
        
        function nohear() {
            if (red.checked == true) {
                r = 0;
                r2 = setInterval("startRed()", 1);
            } else if (blue.checked == true) {
                b = 0;
                b2 = setInterval("startBlue()", 1);
            }
        }
        
        function hear() {
            if (red.checked == true) {
                clearInterval(r2);
            } else if (blue.checked == true) {
                clearInterval(b2);
            }
        }
        
        function ertekeles() {
            alert(
                document.getElementById("rangeRedValue").innerHTML = "Bal:  " + r + " Hz  " +
                document.getElementById("redValue").innerHTML
            );
        
            alert(
                document.getElementById("rangeBlueValue").innerHTML = "Jobb:  " + b + " Hz  " +
                document.getElementById("blueValue").innerHTML
            );
        
            clearInterval(r2);
            clearInterval(b2);
            red.checked = false;
            blue.checked = false;
            document.getElementById("rangeChechedRed").value = 0;
            document.getElementById("rangeRedValue").innerHTML = 0 + " Hz";
            document.getElementById("rangeChechedBlue").value = 0;
            document.getElementById("rangeBlueValue").innerHTML = 0 + " Hz";
            document.getElementById("redValue").innerHTML = "";
            document.getElementById("blueValue").innerHTML = "";
        
            alert("Köszönjük!");
        }
    </script>
    <div id="container">
        <div id="header">
            <h1>Hallás Vizsgálat</h1>
        </div>

        <div class="range">
            <input type="range" value="0" min="0" max="20000" class="sliderRed" id="rangeChechedRed"><br />
            <input type="range" value="0" min="0" max="20000" class="sliderBlue" id="rangeChechedBlue">
        </div>

        <div class="button">
            <form action="">
                <label for="leftcolor" class="fontred radio-inline">
                    <input type="radio" id="leftcolor" name="radio" value="Bal" onchange="redColor()">&nbsp; Bal
                </label>
                <br />
                <label for="rightcolor" class="fontblue radio-inline">
                    <input type="radio" id="rightcolor" name="radio" value="Jobb" onchange="blueColor()">&nbsp; Jobb
                </label>
                <br /><br />
                <button type="button" class="hear" onclick="hear()">Hallom</button><br />
                <button type="button" class="no-hear" onclick="nohear()">Nem hallom</button><br />
                <button type="button" class="ertekeles" onclick="ertekeles()">Értékelés</button><br />
            </form>

            <div class="rengaValue">
                <span id="rangeBlueValue">0 Hz</span>
                <span id="blueValue"></span><br />
                <span id="rangeRedValue">0 Hz</span>
                <span id="redValue"></span>
            </div>
        </div>
    </div>
</body>