<div class="container">
    <div class="row fontRow">
        <div *ngFor="let oszlop of oszlopok" class="col">
            {{oszlop}}
        </div>
        <div class="col">
            Actions
        </div>
    </div>

    <div *ngFor="let use of user" class="row">
        <div class="col">
            <div *ngFor="let oszlop of oszlopok" class="col">
                <input [(ngModel)]="use[oszlop]" type="text" class="form-control">
            </div>
        </div>
        <div class="col">
            <button (click)="putUser(use)" type="button" class="btn btn-primary">Módosítás</button>
            <button (click)="deleteUser(use)" type="button" class="btn btn-secondary">Törlés</button>
        </div>
    </div>
</div>