<!--Molnár Csenge Anna-->

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form method="POST">
            <h1>Belépés</h1>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" required>
                <i class='bx bxl-gmail'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Jelszó" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <!--<div class="forgot">
                <label>
                    <a href="./elfelejt_jelszo/elfejt.html">Elfelejtetted a jelszavad?</a>
                </label>
            </div>-->

            <input type="submit" class="btn btn-primary" value="Belépés"/>

            <div class="register-link">
                <p>Nincs fiókod? <a href="/regisztal">Regisztráció</a></p>
            </div>
        </form>
    </div>
</body>